@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  border: none;
}
button {
  border: none;
}
:root {
  --primary-color: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  --font-size: 15px;
  --font-family: "Overpass";
}

body {
  background-color: var(--very-dark-blue);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.container {
  width: clamp(250px, 80vw, 370px);
  background-color: var(--dark-blue);
  margin: 8% auto;
  padding: 2rem;
  color: var(--white);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
#form1 {
  position: relative;
  transition: 0.5s;
}
#form1 svg {
  background-color: #ccc1;
  padding: 0.7rem;
  border-radius: 50%;
  box-sizing: content-box;
}
#form1 h2 {
  margin-top: 1em;
}
#form1 p {
  margin-top: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: var(--light-grey);
}
#form1 .rating-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 2em;
}
.rating-container input {
  padding: 0.7rem 1rem;
  border-radius: 50%;
  background-color: #ccc1;
  cursor: pointer;
  font-weight: 600;
}
.active {
  background: var(--primary-color) !important;
}
.rating-container input:hover {
  background-color: var(--white);
  color: var(--very-dark-blue);
}
#btn-submit {
  padding: 0.6rem 0;
  width: 100%;
  margin-top: 1.5rem;
  background: var(--primary-color);
  border-radius: 1rem;
  color: var(--very-dark-blue);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  cursor: not-allowed;
}
.btn-submit {
  cursor: pointer !important;
}
.btn-submit:hover {
  background-color: var(--white) !important;
}
#form2 {
  position: absolute;
  left: 0;
  top: 30px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(400px);
  transition: 0.5s;
}
#form2 span {
  margin-top: 2rem;
  color: var(--primary-color);
  background-color: #ccc1;
  border-radius: 2rem;
  padding: 0.4rem 1rem;
}
#form2 h2 {
  margin-top: 3rem;
}
#form2 p {
  text-align: center;
  margin-top: 0.5rem;
  max-width: 35ch;
}
